/**
 * index.scss
 * - Add any styles you want here!
 */
 @import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@1,500&family=Kavivanar&display=swap');

body {
  background: url(https://thumbs.gfycat.com/UnfitDrearyFossa-size_restricted.gif);
  color: rgb(250, 253, 247);

  font-family: 'Alegreya SC', serif;

  /** permet de centrer les éléments dans la page **/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/** l'image fait toujours la même hauteur **/
img{
  margin: 40px;
  border: 1px solid red;
  padding: 10px;
  height: 40vh;
  width: auto;
}
/** les titres ne sont pas trop grands **/
h1,h2{
  max-width: 800px;
  line-height: 1.5;
}


h1{
  font-size: 30px;
}
h2{
  font-size: 20px;
}


/** boutons **/
.btn {
  box-shadow:inset 21px 33px 10px -16px #e82f12;
	background-color:#b81900;
	border:1px solid #613900;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:9px 24px;
	text-decoration:none;
	text-shadow:2px 3px 2px #380700;
}
.btn:hover {
	background-color:#b34332;
}
.btn:active {
	position:relative;
	top:1px;
}


/** liste de boutons **/
.btns-list{
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  justify-content: center;
}
.btn{
  margin: 15px;
}

/** faire bouger un peu tout ça **/
h1,
h2 {
  animation-name: fade-in;
  animation-duration: 1s;
}

/** faire clignotter le sous titre **/ 
h3 {
  animation-iteration-count: infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/** une animation de très bon goût **/
.yeah{
  animation: yeah 2s ease-out;
}
@keyframes yeah{
  0%{
    transform:rotate(-600deg) scale(0) rotateY(180deg)
  }
  100%{
    transform: rotate(0deg) scale(1);
  }
}